.search{
    position: absolute;
    left: 4.27%;
    right: 4.27%;
    top: 8.33%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    align-items: center;

}


.search__img{
    width: 15px;
    margin-left: 20px;
}

.search__input{
    border: none;
    background: rgba(0, 0, 0, 0.0);
    outline: none;
    color: rgba(0, 0, 0, 0.6);
    font-size: 17px;
    font-family: Roboto;
  
}

/* actions */

.actions{
    position: absolute;
    left: 20px;
    right:17px;
    top: 140px;
    display: flex;
    justify-content: space-between;
    
}
.actions__input{
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    background: rgba(0, 0, 0, 0.05); 
}

 .emoji__input{
    border: none;
    background: rgba(0, 0, 0, 0.0);
    outline: none;
    color: rgba(0, 0, 0, 0.6);
    font-size: 17px;
    width: 100px;
    font-family: Roboto;

} 

.emoji{
    position: absolute;
    left: 263px;
    top: 5px;
}

/* send mensage */

.send{
    position: absolute;
    top: 230px;
    left: 20px;
    display: flex;
    
    
}
.send__emoji {
    position: absolute;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    background: rgba(0, 0, 0, 0.05);
    left: 30px;
}

.input__send{
    border: none;
    outline: none;
    color: #0584FE;
    font-size: 17px;
    width: 250px;
    background-color:rgba(0, 0, 0, 0.01);
    font-family: Roboto;
    
    
}


.emoji__input-send{
    position: absolute;
    left: 240px;
    
}

.like__input-send{
    position: absolute;
    left: 315px;
}

.send__seta{
    position: absolute;
    top: 5px;
}


/* to */

.to{
    position: absolute;
    top: 308px;
    left: 20px;
    display: flex;
}

.to__input{
    border: none;
    outline: none;
    background: black;
}

.to__text{
    color: rgba(0, 0, 0, 0.4);
    font-size: 15px;
    font-family: Roboto;
}