.actions-2 {
    position: absolute;
    left: 20px;
    right: 17px;
    top: 600px;
    display: flex;
    justify-content: space-between;

}

.actions__input {
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    background: rgba(0, 0, 0, 0.05);
}

.emoji__input {
    border: none;
    background: rgba(0, 0, 0, 0.0);
    outline: none;
    color: rgba(0, 0, 0, 0.6);
    font-size: 17px;
    width: 100px;
    font-family: Roboto;

}

.emoji {
    position: absolute;
    left: 263px;
    top: 5px;
}